 header {
     font-size: 40px;
     padding: 10px;
     background-color: lightcoral;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     position: relative;
 }
 
 .loginbutton {
     text-decoration: none;
     border: 1px solid lightgrey;
     padding: 12px 28px;
     text-align: center;
     color: white;
     font-size: 20px;
     background-color: grey;
     position: absolute;
     margin-top: 50px;
     margin-right: 15px;
     top: 0;
     right: 0;
 }
 
 .loginbutton:hover {
     background-color: lightgrey;
     box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
     color: black;
     border: 1px solid grey;
 }
 
 .imagelogo {
     width: 65px;
     height: 65px;
     position: absolute;
     margin-top: 50px;
     margin-left: 15px;
     top: 0;
     left: 0;
 }
 
 .button-div .button {
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 17px 70px;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
     float: left;
 }
 
 .button-div {
     width: 20%;
 }
 
 .button-div .button:hover {
     background-color: #3e8e41;
 }
 
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }
 
 li {
     float: left;
 }
 
 li a,
 .dropbtn {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 li a:hover,
 .dropdown:hover .dropbtn {
     background-color: red;
 }
 
 li.dropdown {
     display: inline-block;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }
 
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
 
 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }
 
 .dropdown:hover .dropdown-content {
     display: block;
 }
 
 footer {
     background-color: #333;
     padding: 10px;
     text-align: center;
     color: white;
     font-size: 20px;
 }
 
 footer p a {
     color: white;
     text-decoration: none;
 }
 
 footer p a:hover {
     color: orange;
 }
 
 footer p {
     background-color: #333;
     padding: 10px;
     text-align: center;
     color: white;
 }
 
 img {
     width: 80%;
     height: 70%;
 }
 
 table,
 td {
     border: 1px solid black;
     padding: 5px;
     padding-top: 15px;
 }
 
 td {
     border: none;
 }